@import '../layout';
@import '../variables';

.heroContainer {
  overflow: visible;
  padding-bottom: 210px;
  &::after {
    content: '';
    background-image: url(/images/logo_color.png);
    width: 219px;
    height: 285px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-self: center;
  }
}

.section {
  flex-direction: column;
  .min-medium({margin: 0 80px;});
  .min-large({margin: 0 160px;});
  &.horizontal {
    .min-medium({flex-direction: row;});
  }
}

.content {
  text-align: center;
  //font-size: 24px !important;

  h1,
  h1 div {
    font-family: CharlemagneStd-Bold !important;
    font-size: 34px !important;
  }

}